
<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<title>New Profile</title>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/style.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/6.3.0/css/font-awesome.css" rel="stylesheet">
<head>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">CinemUs</p>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">Home</a></li>
          <li id="userprofiles"><a href="/users">User Profiles</a></li>
          <li id="algorithm"><a href="/algorithm">Begin Algorithm</a></li>
          <li id="about"><a href="/about">About</a></li>
        </ul>
      </div>
    </nav>
</head> 

<div class="algorithmbody">
  <!-- <div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div> -->

  <div class="container">
    <h1>About</h1>
    <h2>What is CinemUs?</h2>
    <p>CinemUs is a tool designed to make choosing movies with friends easier. Multiple users share their streaming profiles and preferences, which our algorithm analyzes to produce a list of recommended movies that is tailored to you and your friends</p>
    <br>
    <h3>How it Works</h3>
    <ol>
      <li>User creates profile</li>
      <li>User uploads their Netflix watch history csv file</li>
      <li>Click begin algorithm and input who's watching and any parameters you want</li>
      <li>Choose a movie from the generated list of recommended movies we've tailored to you and your friend!</li>
    </ol>
  </div>
    
</div>
    


</html>
