
<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('header.ejs') %>
</head>

<br><br><br><br><br><br>

<section class="hero-area-about" id="home">
<!-- details area start -->
<!-- <section class="hero-area" id="home">  -->
	<section class="details-area">
		<!-- <div class="about-container"> -->
			<div class="row">
				<div class="col-lg-9">
					<div class="details-content">
						<div class="details-overview">
							<div class="section-title pb-20">
								<h1>What is CinemUs?</h1>
							</div>
							<p>CinemUs is a tool designed to make choosing movies with friends easier. Multiple users share their streaming profiles and preferences, which our algorithm analyzes to produce a list of recommended movies that is tailored to you and your friends</p>
							<br> <br>
							<h3>How it Works</h3>
							<ol>
							<li>User creates profile</li>
							<li>User uploads their Netflix watch history csv file</li>
							<li>Click begin algorithm and input who's watching and any parameters you want</li>
							<li>Choose a movie from the generated list of recommended movies we've tailored to you and your friend!</li>
							</ol>
						</div>
					<div>
				</div>
			</div>			
		</div>
	</section>

</section>


	<!-- <section class="blog-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title pb-20">
						<h1>What is CinemUs</h1>
					</div>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-lg-12">
					<div class="single-news">
						p>CinemUs is a tool designed to make choosing movies with friends easier. Multiple users share their streaming profiles and preferences, which our algorithm analyzes to produce a list of recommended movies that is tailored to you and your friends</p>
						<a href="#">Read More</a>
					</div>
					<div class="single-news">
						<div class="news-bg-2"></div>
						<div class="news-date">
							<h2><span>NOV</span> 25</h2>
							<h1>2017</h1>
						</div>
						<div class="news-content">
							<h2>The Witch Queen</h2>
							<p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and teal eyes.</p>
						</div>
						<a href="#">Read More</a>
					</div>
					<div class="single-news">
						<div class="news-bg-3"></div>
						<div class="news-date">
							<h2><span>NOV</span> 25</h2>
							<h1>2017</h1>
						</div>
						<div class="news-content">
							<h2>The Witch Queen</h2>
							<p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and teal eyes.</p>
						</div>
						<a href="#">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</section> -->
<!-- </section> -->


<!-- <div class="algorithmbody">
	<div class="col-lg-6 col-md-5">
		<div class="container">
			<h2>What is CinemUs?</h2>
			<p>CinemUs is a tool designed to make choosing movies with friends easier. Multiple users share their streaming profiles and preferences, which our algorithm analyzes to produce a list of recommended movies that is tailored to you and your friends</p>
			<br>
			<h3>How it Works</h3>
			<ol>
			  <li>User creates profile</li>
			  <li>User uploads their Netflix watch history csv file</li>
			  <li>Click begin algorithm and input who's watching and any parameters you want</li>
			  <li>Choose a movie from the generated list of recommended movies we've tailored to you and your friend!</li>
			</ol>
		  </div>
	<div>
    
</div> -->




</html>
