
<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<title>New Profile</title>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/style.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/6.3.0/css/font-awesome.css" rel="stylesheet">
<head>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">CinemUs</p>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">Home</a></li>
          <li id="userprofiles"><a href="/users">User Profiles</a></li>
          <li id="algorithm"><a href="/algorithm">Begin Algorithm</a></li>
        </ul>
      </div>
    </nav>
</head> 

<div class="algorithmbody">
    <div class="container">
        <h1>Profile Selection</h1>
        <div class="row" id="rowprofiles">
          <% for(var i = 0 ; i < algorithmlist.length ; i++) { %>
            <label>
              <input type="checkbox" name="" />
              <div class="icon-box">
                <i class='<%=algorithmlist[i][1]%>'></i>
                <span><%=algorithmlist[i][0]%>
                </span>
              </div>
            </label>
          <% } %>
        </div>
      </div>
    <button type="submit" class="btnAlgorithm">submit</button>
</div>
    


</html>
