
<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('header.ejs') %>
</head>

<section class="hero-area-profiles" id="home">
    <div class="container">
      <div class="profiles">
        <h1>Existing Profiles</h1>
          <div class="row" id="rowprofiles">
            <% for(var i = 0 ; i < algorithmlist.length ; i++) { %>
              <label>
                <input type="checkbox" name="" />
                <div class="icon-box">
                  <i class='<%=algorithmlist[i][1]%>'></i>
                  <span><%=algorithmlist[i][0]%>
                  </span>
                </div>
              </label>
            <% } %>
          </div>
        <button type="submit" class="btnAlgorithm">submit</button>
      </div>
  </div>
</section>
    


</html>
