<!DOCTYPE html>
<html>
 
<head>
    <title>Contact</title>
     
    <style type="text/css" media="screen">
        body {
            background-color: blue;
            text-decoration-color: white;
            font-size:7em;
        }
    </style>
</head>
 
<body>
   
 
</html>  