<!DOCTYPE html>
<html>
 
<head>
    <title>Error</title>
     
    <style type="text/css" media="screen">
        body {
            background-color: skyblue;
            text-decoration-color: white;
            font-size:7em;
        }
    </style>
</head>
 
<body>
   
 
</html>  