<!DOCTYPE html>
<html>
 
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Moviepoint - Online Movie,Vedio and TV Show HTML Template</title>
        <link rel="import" href="views/template.ejs" id="myTemplate">
        <!-- Favicon Icon -->
        <link rel="icon" type="image/png" href="assets/img/favcion.png" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" media="all" />
        <!-- Slick nav CSS -->
        <link rel="stylesheet" type="text/css" href="assets/css/slicknav.min.css" media="all" />
        <!-- Iconfont CSS -->
        <link rel="stylesheet" type="text/css" href="assets/css/icofont.css" media="all" />
        <!-- Owl carousel CSS -->
        <link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.css">
        <!-- Popup CSS -->
        <link rel="stylesheet" type="text/css" href="assets/css/magnific-popup.css">
        <!-- Main style CSS -->
        <link rel="stylesheet" type="text/css" href="assets/css/templatestyle.css" media="all" />
        <!-- Responsive CSS -->
        <link rel="stylesheet" type="text/css" href="assets/css/responsive.css" media="all" />
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <body>
            <!-- <section class="hero-area" id="home"> </section> -->
            <head>
                <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>Moviepoint - Online Movie,Vedio and TV Show HTML Template</title>
                <!-- Favicon Icon -->
                <link rel="icon" type="image/png" href="assets/img/favcion.png" />
                <!-- Bootstrap CSS -->
                <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" media="all" />
                <!-- Slick nav CSS -->
                <link rel="stylesheet" type="text/css" href="assets/css/slicknav.min.css" media="all" />
                <!-- Iconfont CSS -->
                <link rel="stylesheet" type="text/css" href="assets/css/icofont.css" media="all" />
                <!-- Owl carousel CSS -->
                <link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.css">
                <!-- Popup CSS -->
                <link rel="stylesheet" type="text/css" href="assets/css/magnific-popup.css">
                <!-- Main style CSS -->
                <link rel="stylesheet" type="text/css" href="assets/css/templatestyle.css" media="all" />
                <!-- Responsive CSS -->
                <link rel="stylesheet" type="text/css" href="assets/css/responsive.css" media="all" />
                <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
                <![endif]-->
            </head>
        <body>
            <!-- <div id="preloader"></div> -->
            <!-- header section start -->
            <header class="header">
                <div class="container">
                    <div class="header-area">
                        <div class="logo">
                            <a href="index-2.html"><img src="assets/img/logo.png" alt="logo" /></a>
                        </div>
                        <div class="menu-area">
                            <div class="responsive-menu"></div>
                            <div class="mainmenu">
                                <ul id="primary-menu">
                                    <li id="home"><a href="/">Home</a></li>
                                    <li id="userprofiles"><a href="/users">User Profiles</a></li>
                                    <li id="algorithm"><a href="/algorithm">Begin Algorithm</a></li>
                                    <li id="results"><a href="/results">Results</a></li>
                                    <li id="about"><a href="/about">About</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        <body>

