
<!DOCTYPE html>
<html lang="en">

<%- include('header.ejs') %>

<section class="hero-area-home" id="home">
  <div class="homepagebody">
    <br><br><br><br><br><br><br><br><br><br>
    <div class="positionAlgorithmButton" id="positionAlgorithmButton">
      <button class="addAlgorithmButton" role="button" onclick="redirect()">Algorithm</button>
    </div><br><br>

  </div>
</section>


<script>
  function redirect(){
    location.href = "http://localhost:8888/algorithm";
    console.log(window.href);
  }
</script>
</html>
