
<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8">
<title>User Profiles</title>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/style.css">
<head>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">CinemUs</p>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">Home</a></li>
          <li id="userprofiles"><a href="/users">User Profiles</a></li>
          <li id="algorithm"><a href="/algorithm">Begin Algorithm</a></li>
        </ul>
      </div>
    </nav>
</head>
<div class="usersbody">
    <div class="positionProfileButton">
        <button class="addProfileButton" role="button" onclick="onClickEvent()">Add Profile</button>
    </div>
</div>




<script> //separate
  function onClickEvent(){
    location.href = "http://localhost:8888/newprofile";
    console.log(window.href);
  }
</script>
</html>
