
<!DOCTYPE html>
<html lang="en">


<head>
	<%- include('header.ejs') %>
</head>

  <section class="hero-area-profiles" id="home">

  <div class="positionProfileButton" id="positionProfileButton">
      <button class="addProfileButton" role="button" onclick="onClickEvent()">Add Profile</button>
  </div><br><br>
  <div class="profiles">
    <h1>Existing Profiles</h1>

    <div class="container">
      <div class="rowexisting" id="rowprofiles">
        <% if(newProfile == 'yes'){ %>
          <div class="popup"><h2>Profile Created</h2><a class="close" href="/users">&times;</a><div class="content">The profile has been saved and will be available for selection.</div></div>
        <% } %>
        <% if(newProfile == 'exists'){ %>
          <div class="popup"><h2>Not Created</h2><a class="close" href="/users">&times;</a><div class="content">This nickname is taken. View the list of existing nicknames here and try again.</div></div>
        <% } if(newProfile == 'no') {%>
          <% for(var i = 0 ; i < algorithmlist.length ; i++) { %>
            <label onclick="onClickEvent2('<%=algorithmlist[i][0]%>')">
              <div class="icon-boxexisting">
                <i class='<%=algorithmlist[i][1]%>'></i>
                <span><%=algorithmlist[i][0]%></span>
              </div>
            </label>
          <% } %>
        <% } %>
      </div>
    </div>
  </div>
<div>
</div> 



<script> 
  function onClickEvent(){
    location.href = "http://localhost:8888/newprofile?edit=false";
    console.log(window.href);
  }
  function onClickEvent2(named){
    location.href = "http://localhost:8888/newprofile?edit=true?name=" + named;
    console.log(window.href);
  }
</script>
</html>
