

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 15px;
  letter-spacing: 2px;
  background-color: pink;
  font-family: Optima, sans-serif;
}

.navbar-brand{
  font-size: 30px !important; 
  font-family: Marker Felt, fantasy;
}

.navbar-nav  li a:hover {
  color: orangered !important;
}

.navbar-nav  li a{
  color: darkslategray !important;
}

.backgroundimage{
  background-image: url('../images/backgroundimg.jpeg');
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(30%);
}