

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 15px;
  letter-spacing: 2px;
  background-color: pink;
  font-family: Optima, sans-serif;
}

.navbar-brand{
  font-size: 50px !important; 
  font-family: Marker Felt, fantasy;
}

.navbar-nav  li a:hover {
  color: orangered !important;
}

.navbar-nav  li a{
  color: darkslategray !important;
}

.backgroundimage{
  background-image: url('../images/backgroundimg.jpeg');
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(30%);
}

.usersbody{
  background-color: lightgoldenrodyellow;
  height: 100vh;
}

.positionProfileButton{
  padding: 20px; 
  position: absolute;
  top: 90px;
  right: 0;
}

.addProfileButton {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.addProfileButton:hover,
.addProfileButton:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.addProfileButton:active {
  background: var(--color);
  color: #fff;
}